header {
	width: 100%;
	height: 100px;
	background-color: #783127;
}

.title {
	padding-top: 0px;
	font-size: 40px;
	text-align: center;
	color: white;
	font-family: 'Sigmar One';
}

article {
	width: 1000px;
	height: 1000px;
	background-color: #bc3713;
	text-align: center;
	padding-top: 5px;
	margin-left: 130px;
}

.module1 {
	width: 400px;
	height: 600px;
	background-color: #ef960f;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
}

.module2 {
	width: 400px;
	height: 600px;
	background-color: #7c3f71;
	float: right;
	margin-right: 30px;
	margin-top: 30px;
}

.module3 {
	width: 940px;
	height: 300px;
	background-color: #dd390a;
	margin-top: 665px;
	margin-left: 30px;
}

header h1 {
	font-family: 'Sigmar One';
	font-size: 49px;
	font style: normal;
	font-weight: bold;
	text-align: center;
	color: white;
}

footer h3 {
	font-size: 12px;
	text-align: center;
	color: white;
	font-family: 'Sigmar One';
	margin-top: 0;
	padding-top: 32px;
}

.poster {
	padding-top: 75px;
}

.paragraph {
	padding-top: -30px;
	padding-left: 10px;
	font-size: 19px;
	text-align: left;
	color: white;
	font-family: 'Sigmar One';
}

.info_section {
	padding-top: 22px;
	padding-left: 10px;
	font-size: 19px;
	text-align: left;
	color: white;
	font-family: 'Sigmar One;
}

.info_section p {
	margin: 0px;
}

.info_section ul {
	margin-top: 1px;
	margin-bottom: 1px;
}

.related_films {
	padding: 10px;
	font-size: 19px;
	text-align: left;
	color: white;
	font-family: 'Sigmar One';

}

footer {
	width: 100%;
	height: 100px;
	background-color: #ff3c00;
}
