header {
  color: purple;
  font-size: 28px;
}


body {
  background-color: #DDD;
  font-family: "Verdana";
}

h1 {
	color: #F9C
}

h2 {
	color: #99F
}
	
h3 {
	color: #F0F
}

h4 {
	color: #F60
}
 
footer {
  padding: 30px 10px;
  border-top: 5px solid white;
  color: white;
  font-size: 10px;
  font-style: italic;
  width: 100%;
}



